<%= javascript_include_tag "application" %>

<%= render "layouts/panel" %>

<div class="span7" style="margin-right:13%;margin-left:5%"> 
  <div class="alert alert-info">
    <h1>Панель управления сайтом</h1>
  </div>
</div>