
<div class="span9" style="margin:auto;float:none;align:center">
    <div class="alert alert-info">
            <h1 align="center">Отлично!</h1>
    </div>
    <div class="alert alert-success">
            <h5>Теперь вы можете авторизоваться и войти в свой кабинет</h5>
    </div>
            <%= link_to "На главную", {:controller => :welcome}, :class => "btn btn-primary" %>