<%= form_for :user, :url => { :action => :update, :id => @user.id }, :method => :put do |f| %>
<div class="span6" style="margin-left:10%">
            <div class="grid">

                 	<div class="row">
                    <h2>Права</h2>
                    <div class="span2" id="centered">
                            <div class="input-control-text">
							<%= f.select(:role,["User","Admin"]) %>
                            </div>
                    </div>
                 	</div>

                 	 <div class="row" style="margin-top: 15px">
                    <div class="span2" id="centered">
                        <%= f.submit "Редактировать" %>
                    </div>
                </div>
            </div>
        </div>
<% end %>