 <div class="span7" style="margin: auto;float:none">
 	<div class="bs-docs-example">
                <div style="margin:auto;float:none;" class="span4">
                    <h2>Готово!</h2>
                        <br><br><br>
                    <p>На Ваш электронный ящик было отправлено письмо с подробностями заказа.</p>
                    <%= link_to "На главную", root_path, :class => "btn btn-primary", :style => "float:right" %>
                </div>
             </div>
          </div>