<%= render "layouts/panel" %>

<div class="span13" style="margin-left:5%" >
  <div class="alert alert-info">
	<h1>Редактирование категории</h1>
  </div>
<%= render 'form' %>

<%= link_to 'Назад', categories_path %>
</div>
